<app-creat-post></app-creat-post>
<!--<div class=" col-12 h-screen">-->
<!--  <section id="header" class="col-12 flex-wrap ">-->
<!--    <div class="col-12 m-0 p-0">-->
<!--      <h1 id="header-name"> posts activity 📊: </h1>-->
<!--    </div>-->
<!--    <div class="card flex  col-12 justify-content-around">-->
<!--      <div class="col-3">-->
<!--        <app-doughnut-chart></app-doughnut-chart>-->
<!--      </div>-->
<!--      <div class="col-6">-->
<!--        <app-basic-chart></app-basic-chart>-->
<!--      </div>-->
<!--    </div>-->
<!--  </section>-->
<!--  <section id="body">-->
<!--    <app-basic-grid ngSkipHydration [configGrid]="configGrid" #grid></app-basic-grid>-->
<!--  </section>-->
<!--</div>-->
