<section class="flex flex-wrap col-12 h-full  gap-3 justify-content-around ">

  <div id="list" class="col-12 bg-4-color border-round-3xl" style="height: 70% ">
    <app-basic-grid [configGrid]="configGrid"/>
  </div>
  <div class="col-12  flex gap-3">
    <div id="form" class="col-12 p-3 bg-4-color border-round-3xl text-black-alpha-90 " style="height: max-content">
      <div id="header">
        <h3 class="my-2 ml-1"> {{"user detail:"| titlecase}}</h3>
      </div>
      <form [formGroup]="formGroup">
        <div class="flex flex-column gap-1 mb-4">
          <label for="title" style="color: #1A1D24">title :</label>
          <input id="title" class="w-full h-2rem p-2" type="text" pInputText formControlName="title"/>
        </div>
        <div class="flex flex-column gap-1 mb-4">
          <label for="context" style="color: #1A1D24">context :</label>
          <textarea rows="5" cols="30" pTextarea id="context" pInputText formControlName="context"></textarea>
        </div>
        <quill-editor
          formControlName="description"
          [modules]="editorModules"
          class="w-full h-20rem"
          [placeholder]="'Compose your text here...'">
        </quill-editor>
         <input  name="file-upload-field" type="file" formControlName="file"     maxFileSize="900000"

                 (change)="onFileSelected($event)">
        <p-button label="Submit" (onClick)="saveChanges()"/>

      </form>
    </div>
  </div>
</section>

