<app-nav-bar [config]="navBarConf">

</app-nav-bar>
<app-main-page [config]="configMainPage">
  <div class="wrapper fadeInDown  ">
    <div id="formContent " class="p-2">
      <!-- Tabs Titles -->
      <h2 class="active"> Sign In </h2>
      <!--    <h2 class="inactive underlineHover">Sign Up </h2>-->
      <!-- Login Form -->
      <form [formGroup]="formGroup">
        <input type="text" formControlName="username" id="login" class="fadeIn second" name="username" placeholder="username">
        <input type="text" formControlName="password" id="password" class="fadeIn third" name="password" placeholder="password">
        <p-button label="accept" (onClick)="login()" class="mt-5" [outlined]="true" severity="success"></p-button>
      </form>

      <!--    &lt;!&ndash; Remind Passowrd &ndash;&gt;-->
      <!--    <div id="formFooter">-->
      <!--      <a class="underlineHover" href="#">Forgot Password?</a>-->
      <!--    </div>-->

    </div>
  </div>
</app-main-page>
