<section class="mt-4">
  <h1 class="font-bold text-4xl text-white inline disableSelect">title of content that want to read
    <a href="#" class=" text-white hover:text-white-alpha-50 "><i class="pi pi-link font-bold text-4xl"></i></a>
  </h1>
  <div class="col-3 border-bottom-2 text-white"></div>
  <div class="flex text-white col-12 justify-content-between">
    <section id="left " class="col-3 flex justify-content-between  disableSelect  align-items-center">
      <p id="time " class="m-0 disableSelect p-0">Updated <i class="pi-calendar pi"></i> : 12/2/2024 </p>
      <div id="category" class="flex disableSelect gap-1">js
        <div [innerHTML]="img._imageTag.outerHTML"></div>
      </div>
      <div id="countOfComment"><i class="pi pi-comments "></i> 10</div>
    </section>
    <section id="right" class="col-3 disableSelect flex justify-content-between align-items-center">
      <div id="requiredTimeToRead">required time to read : 3m</div>
      <p-button icon="pi pi-bookmark" [rounded]="true" [text]="true" severity="secondary "></p-button>
    </section>
  </div>
  <div class="col-12 p-0 flex justify-content-center disableSelect">
    <img src="assets/img/WorldMap.svg" class="border-round h-26rem bg-cover border-solid border-gray-700  shadow-5"
         alt="">
  </div>
</section>
