<div class="bg-3-color p-0  flex border-round bg-5-color prevent-select
 justify-content-between " (click)="redirect(config?.router?.url! , config.id)" style="cursor: pointer">
  <section class="col-1 p-0  ">
    <img class="col-12 min-h-full p-0 border-round" style="object-fit: cover"
         [src]="config?.img ? blobUrl : './assets/logo/png/logo-color.png' " alt="">

  </section>
  <section class="col-11  w-full  " *ngIf="config.title || config.haveProfile">
    <section class="col-11 p-0 text-2-color" *ngIf="config.title">
      <div>
        <h2 class="m-1  flex justify-content-between ">
          <p class="p-0 font-light text-lg m-0">{{config.title | titlecase}}</p>
          <div class="flex gap-2">
            <ng-container *ngIf="config.categories?.length > 0">
              <p class="p-0  text-xs m-0" *ngFor="let category of config.categories">
                <p-chip styleClass=" ">
                  <span class=" font-medium">{{category.name |titlecase}}</span>
                </p-chip>
              </p>
            </ng-container>
            <p class="p-0  text-xs m-0">{{config?.user?.userName}} </p>
          </div>
        </h2>
        <div class="m-0 ql-editor  text-sm text-white-alpha-80" #context></div>
      </div>
    </section>
  </section>
</div>

