<section class="">
  <div class="col-12 p-3 text-3xl text-white-alpha-80">
    <span> category 🚥 : </span>
  </div>
  <section class="flex justify-content-between   ">
    <div class="col-4 min-h-0 m-3 relative ">

      <div class="w-5rem h-5rem  text-7xl     absolute" style="    border-radius: 100%;
    top: 15px;
    left: -30px;
    transform: rotate(329deg);">💵
      </div>
      <div class="w-5rem h-5rem  text-7xl     absolute" style="      border-radius: 100%;
    right: -21px;
    transform: rotate(357deg);
    top: 160px;">🤩
      </div>
      <div class="align-content-start p-4 w-full overflow-auto gap glass align-content-start flex flex-wrap gap-2 h-15rem bg-2-color ">

        <button class="border-none bg-red-600  cursor-pointer h-auto p-3  h-3rem border-round-3xl ">angular  </button>
        <button class="border-none bg-blue-600 cursor-pointer h-auto p-3  h-3rem border-round-3xl ">ts</button>
        <button class="border-none bg-purple-500 cursor-pointer h-auto p-3  h-3rem border-round-3xl ">php</button>
        <button class="border-none bg-green-600  cursor-pointer h-auto p-3  h-3rem border-round-3xl ">python</button>
        <button class="border-none bg-yellow-400 cursor-pointer h-auto p-3  h-3rem border-round-3xl ">js</button>
        <button class="border-none bg-pink-400 cursor-pointer h-auto p-3  h-3rem border-round-3xl ">laravel</button>

      </div>
      <p-divider></p-divider>

      <div class="w-full h-30rem bg-2-color">
      </div>
    </div>
    <div class="col-7 max-h-screen border-round  p-3  bg-2-color  m-3 overflow-auto ">
      <app-card [config]="cards[0]"></app-card>
      <p-divider></p-divider>
      <app-card [config]="cards[1]"></app-card>
      <p-divider></p-divider>
      <app-card [config]="cards[2]"></app-card>
    </div>
  </section>

</section>
