<div class="p-3 col-12 text-white-alpha-80  " style="max-height: 50rem ">
  <span class=" text-xl"> chapter 📖  : </span>
  <p-divider></p-divider>
  <div class="col-12 overflow-auto  " style="height: 50rem ">

    <section class="col-12 ">
      <span class="flex gap-1"> <i [innerHTML]="img._imageTag.outerHTML" class="flex align-items-center "></i> Angular    : </span>
      <p-divider></p-divider>
      <div class="col-12 p-3 bg-2-color max-h-15rem border-round-xl relative   ">
      <i [innerHTML]="img2._imageTag.outerHTML" class="absolute right-0 top-0" ></i>
        <ol>
          <li>Lorem ipsum dolor. <a href="">link</a></li>
          <li>Lorem ipsum dolor. <a href="">link</a></li>
          <li>Lorem ipsum dolor. <a href="">link</a></li>
          <li>Lorem ipsum dolor. <a href="">link</a></li>
          <li>Lorem ipsum dolor. <a href="">link</a></li>
        </ol>
        <div style="text-align: end">
          <a href="">more =></a>
        </div>
      </div>
    </section>
    <section class="col-12 ">
      <span class="flex gap-1"> <i [innerHTML]="img1._imageTag.outerHTML" class="flex align-items-center "></i> Django    : </span>
      <p-divider></p-divider>
      <div class="col-12 p-3 bg-2-color max-h-15rem border-round-xl  ">
        <ol>
          <li>Lorem ipsum dolor. <a href="">link</a></li>
          <li>Lorem ipsum dolor. <a href="">link</a></li>
          <li>Lorem ipsum dolor. <a href="">link</a></li>
          <li>Lorem ipsum dolor. <a href="">link</a></li>
          <li>Lorem ipsum dolor. <a href="">link</a></li>
        </ol>
        <div style="text-align: end">
          <a href="">more =></a>
        </div>
      </div>
    </section>
    <section class="col-12 ">
      <span class="flex gap-1"> <i [innerHTML]="img1._imageTag.outerHTML" class="flex align-items-center "></i> Django    : </span>
      <p-divider></p-divider>
      <div class="col-12 p-3 bg-2-color max-h-15rem border-round-xl  ">
        <ol>
          <li>Lorem ipsum dolor. <a href="">link</a></li>
          <li>Lorem ipsum dolor. <a href="">link</a></li>
          <li>Lorem ipsum dolor. <a href="">link</a></li>
          <li>Lorem ipsum dolor. <a href="">link</a></li>
          <li>Lorem ipsum dolor. <a href="">link</a></li>
        </ol>
        <div style="text-align: end">
          <a href="">more =></a>
        </div>
      </div>
    </section>
    <section class="col-12 ">
      <span class="flex gap-1"> <i [innerHTML]="img1._imageTag.outerHTML" class="flex align-items-center "></i> Django    : </span>
      <p-divider></p-divider>
      <div class="col-12 p-3 bg-2-color max-h-15rem border-round-xl  ">
        <ol>
          <li>Lorem ipsum dolor. <a href="">link</a></li>
          <li>Lorem ipsum dolor. <a href="">link</a></li>
          <li>Lorem ipsum dolor. <a href="">link</a></li>
          <li>Lorem ipsum dolor. <a href="">link</a></li>
          <li>Lorem ipsum dolor. <a href="">link</a></li>
        </ol>
        <div style="text-align: end">
          <a href="">more =></a>
        </div>
      </div>
    </section>
  </div>
</div>
