<section class="col-12 flex h-full p-0 text-white-alpha-40">
  <div class="bg-2-color  border-round-right h-screen" style="width: 10%">
    <div class="w-full h-full p-0   m-0 flex flex-wrap"
         style=" align-content: space-between; justify-content: space-between">
      <div class="col-12 ">
        <div class="flex w-full m-0 p-0 h-2rem mt-2 border-round justify-content-start cursor-pointer hover:bg-white-alpha-30 p-3 font-light text-50
      align-items-center ">
          <a class="m-0 p-0 ">
            <i class="pi pi-user"></i>
            user
          </a>
        </div>
        <a routerLink="{{rout.Post.url}}" class="  text-white-alpha-40" style=" text-decoration: none">
          <div class="flex w-full  h-2rem mt-2 border-round justify-content-start cursor-pointer hover:bg-white-alpha-30 p-3 font-light text-50
      align-items-center ">
            <i class="pi pi-comment"></i>
            post
          </div>
        </a>
        <a routerLink="{{rout.Category.url}}" class="  text-white-alpha-40" style="text-decoration: none">
          <div class="flex w-full m-0 p-0 h-2rem mt-2 border-round justify-content-start cursor-pointer hover:bg-white-alpha-30 p-3 font-light text-50
      align-items-center ">
            <i class="pi pi-tag"></i>
            category
          </div>
        </a>
      </div>
      <div class="col-12 h-auto ">
        <div class="flex w-full m-0 p-0 h-2rem mt-2 border-round justify-content-start cursor-pointer hover:bg-white-alpha-30 p-3 font-light text-50
      align-items-center ">
          <a class="m-0 p-0">
            <i class="pi pi-chevron-left"></i>
            log out
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="   h-screen overflow-auto m-auto p-2 " style="width: 90% ; background-color: #FCFCFC">
    <div class="  0 p-5  border-round w-full h-auto">
      <router-outlet></router-outlet>
    </div>
  </div>
</section>
