<section class="col-12 flex h-full p-0 text-white-alpha-40 bg-3-color ">
  <div class="  p-1 h-screen " style="width: 10vw">
    <div class="w-full h-full border-round-2xl  bg-2-color border-1-color flex flex-wrap"
         style=" align-content: space-between; justify-content: space-between ; ">
      <div class="col-12 ">
        <a routerLink="{{rout.Home.url}}" class="  text-white-alpha-40 text-decoration-none">
          <i [innerHTML]="icon._imageTag.outerHTML"></i>
        </a>
        <p-divider class=""/>
        <a class="  text-white-alpha-40 text-decoration-none" routerLink="{{rout.User.url}}">
          <div
            class="flex w-full gap-2 m-0 p-0 h-2rem mt-2 border-round justify-content-start cursor-pointer hover:bg-white-alpha-30 p-3 font-light text-50 align-items-center ">
            <i class="pi pi-user"></i>
            User
          </div>
        </a>
        <a routerLink="{{rout.Post.url}}" class="  text-white-alpha-40 text-decoration-none">
          <div
            class="flex w-full gap-2 h-2rem mt-2 border-round justify-content-start cursor-pointer hover:bg-white-alpha-30 p-3 font-light text-50  align-items-center ">
            <i class="pi pi-comment"></i>
            Post
          </div>
        </a>
        <a routerLink="{{rout.Category.url}}" class="  text-white-alpha-40 text-decoration-none">
          <div
            class="flex w-full gap-2 m-0 p-0 h-2rem mt-2 border-round justify-content-start cursor-pointer hover:bg-white-alpha-30 p-3 font-light text-50 align-items-center ">
            <i class="pi pi-tag"></i>
            Category
          </div>
        </a>
        <a  class="  text-white-alpha-40 text-decoration-none">
          <div
            routerLink="{{rout.Comment.url}}"
            class="flex w-full gap-2 m-0 p-0 h-2rem mt-2 border-round justify-content-start cursor-pointer hover:bg-white-alpha-30 p-3 font-light text-50 align-items-center ">
            <i class="pi pi-comments"></i>
            Comment
          </div>
        </a>
        <a  class="  text-white-alpha-40 text-decoration-none">
          <div
            class="flex w-full gap-2 m-0 p-0 h-2rem mt-2 border-round justify-content-start cursor-pointer hover:bg-white-alpha-30 p-3 font-light text-50 align-items-center ">
            <i class="pi pi-file-import"></i>
             Document
          </div>
        </a>
      </div>
      <div class="col-12  ">
        <p-divider class=""/>
        <a routerLink="{{rout.Home.url}}" class="  text-white-alpha-40 text-decoration-none">
          <div
            class="flex w-full gap-2 h-2rem  border-round justify-content-start cursor-pointer hover:bg-white-alpha-30 p-3 font-light text-50 align-items-center ">
            <i class="pi pi-chevron-left"></i>
            Back
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="w-full  bg-3-color h-screen overflow-auto m-auto p-2  " >
    <section
      class="text-black-alpha-90  w-full h-3rem  bg-3-color   p-1 justify-content-between border-round-2xl flex ">
      <div class="gap-6  flex col-6 h-full align-items-center">
        <p> <i class="pi pi-align-justify">  </i> </p>
        <p> Name : {{currentUser?.username}}</p>
        <p> Email : {{currentUser?.email}}</p>
      </div>
      <a (click)="logOut()" class=" m-0 text-white-alpha-40 text-decoration-none">
        <div
          class="flex text-black-alpha-90 w-full gap-2 h-2rem  border-round justify-content-start cursor-pointer  p-3 font-light text-50  align-items-center ">
          <i class="pi pi-power-off"></i>
          Log out
        </div>
      </a>
    </section>
    <div class=" p-2   border-round w-full h-auto">
      <router-outlet/>
    </div>
    <app-footer [config]="footerConf"/>
  </div>

</section>
