<section class="col-12 flex h-full p-0 text-white-alpha-40">
  <div class="bg-2-color  border-round-right h-screen" style="width: 10vw">
    <div class="w-full h-full p-0   m-0 flex flex-wrap"
         style=" align-content: space-between; justify-content: space-between">
      <div class="col-12 ">
        <a class="  text-white-alpha-40" routerLink="{{rout.User.url}}" style=" text-decoration: none">
          <div class="flex w-full m-0 p-0 h-2rem mt-2 border-round justify-content-start cursor-pointer hover:bg-white-alpha-30 p-3 font-light text-50
      align-items-center ">
            <i class="pi pi-user"></i>
            user
          </div>
        </a>
        <a routerLink="{{rout.Post.url}}" class="  text-white-alpha-40" style=" text-decoration: none">
          <div class="flex w-full  h-2rem mt-2 border-round justify-content-start cursor-pointer hover:bg-white-alpha-30 p-3 font-light text-50
      align-items-center ">
            <i class="pi pi-comment"></i>
            post
          </div>
        </a>
        <a routerLink="{{rout.Category.url}}" class="  text-white-alpha-40" style="text-decoration: none">
          <div class="flex w-full m-0 p-0 h-2rem mt-2 border-round justify-content-start cursor-pointer hover:bg-white-alpha-30 p-3 font-light text-50
      align-items-center ">
            <i class="pi pi-tag"></i>
            category
          </div>
        </a>
      </div>
      <div class="col-12 h-auto ">
        <a routerLink="{{rout.Home.url}}" class="  text-white-alpha-40" style=" text-decoration: none">
          <div class="flex w-full  h-2rem mt-2 border-round justify-content-start cursor-pointer hover:bg-white-alpha-30 p-3 font-light text-50
      align-items-center ">
            <i class="pi pi-chevron-left"></i>
            back
          </div>
        </a>

      </div>
    </div>
  </div>
  <div class="   h-screen overflow-auto m-auto p-2 " style="width: 90% ; background-color: #FCFCFC ">
    <section class="text-white w-full h-3rem bg-2-color p-0 border-round flex ">
      <div class="gap-6  flex col-6 h-full align-items-center">
        <p> name : {{currentUser?.username}}</p>
        <p> email : {{currentUser?.email}}</p>
        <p> role: {{currentUser.roles[0] }}</p>
      </div>
      <div class="gap-6  flex col-6 h-full align-items-center justify-content-end">
        <a routerLink="{{rout.Category.url}}" class="  text-white" style="text-decoration: none">
          <i class="pi pi-power-off"></i>
          Log out
        </a>
      </div>
    </section>
    <div class=" p-2  border-round w-full h-auto">
      <router-outlet/>
    </div>
  </div>
</section>
