#header {
  color: #1b1e23;

}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

table {
  border-radius: 10px;
  font-size: small;
  background-color: white;
  border-collapse: collapse;
  overflow: hidden;
  width: 100%;
}

th {
  background-color: #f6f6f6;
  color: rgba(27, 30, 35, 0.85);
  padding: 10px;
  font-size: medium;
  font-weight: normal;
  border-bottom: 3px solid rgba(204, 204, 204, 0.42);
  text-align: left;
}

td {
  color: rgba(34, 40, 49, 0.73);
  padding: 10px;
  border-bottom: 2px solid #F7F7F8;
  text-align: left;
  max-width: 0;
  overflow: hidden;
}

