<table>
  <tr>
    @for (columnName of configGrid.columnName; track configGrid.columnName) {
    <th>{{ columnName}}</th>
      }
    <th *ngIf="configGrid?.operation">operation</th>
  </tr>
  <tr *ngFor="let rowBody  of configGrid.rowBody">
    <ng-container *ngFor="let columnName of configGrid.columnName">
      <td [ngStyle]="{'background-color': rowBody['color'] ? rowBody['color'] : null }">{{rowBody[columnName]}}</td>
    </ng-container>
    <td class=" ">
      <div class="flex gap-1 w-full justify-content-around">
      <span *ngIf="configGrid?.operation?.view">
        <i class="pi pi-eye " (click)="configGrid.operation?.view()"></i>
      </span>
        <span *ngIf="configGrid?.operation?.update">
        <i class="pi pi-arrow-circle-up" (click)="configGrid.operation?.update()"></i>
      </span>
        <span *ngIf="configGrid?.operation?.delete">
        <i class="pi pi-trash" (click)="configGrid.operation?.delete(rowBody)"></i>
      </span>
      </div>
    </td>
  </tr>
</table>

