<section class="min-h-screen">
  <div class="col-12 p-3 text-3xl text-white-alpha-80">
    <span>Latest 💻 : </span>
  </div>
  <div class="col-12 flex h-auto flex-wrap">
    <div class="col-6">
      <app-card [config]="cards[0]"></app-card>
    </div>
    <div class="col-6">
      <app-card [config]="cards[1]"></app-card>
    </div>
    <div class="col-6">
      <app-card [config]="cards[0]"></app-card>
    </div>
    <div class="col-6">
      <app-card [config]="cards[1]"></app-card>
    </div>
  </div>
  <app-category></app-category>
</section>
