<header class="flex justify-content-center   align-items-center p-0 bg-2-color fixed z-1 w-full">
  <section>
    <i [innerHTML]="icon._imageTag.outerHTML" ></i>
  </section>
  <section class="col-9 p-0 flex justify-content-between ">
    <p-button icon="pi-align-justify pi " class="md:hidden" size="small"
              (onClick)="ngClick()" [rounded]="true" [link]="true"></p-button>
    <ul
      class="list-none    {{onShow}}  md:flex min-h-0 p-2 {{config.textColor}}  flex-wrap align-items-center  m-0 border-round ">
      <ng-container *ngFor="let item  of config.leftButton">
        <li *ngIf="item.show" style="cursor: pointer"
            routerLink="{{item.router.url}}" class=" flex w-full h-2rem text-2-color align-items-center justify-content-center
      md:w-auto p-2  border-round ">
          <p (click)="clicked(item)"
             style="text-decoration: none">
<!--            <i [class]="item.icon"></i>-->
            {{item.text}}</p>
        </li>
      </ng-container>
    </ul>
    <ul
      class="list-none    {{onShow}}  md:flex min-h-0 p-2 {{config.textColor}}  flex-wrap align-items-center  m-0 border-round ">
      <li *ngFor="let item  of config.rightButton" style="cursor: pointer"
          routerLink="{{item.router.url}}" class=" flex w-full h-2rem align-items-center justify-content-center
      md:w-auto p-2  border-round  text-1-color">
        <p-button (onClick)="clicked(item)">
          <i [class]="item.icon"></i> {{item.text}} </p-button>
      </li>
    </ul>
  </section>
</header>
