<section class="flex flex-wrap col-12 h-auto  justify-content-around  ">
  <div id="form" class="col-6 g h-auto p-4 bg-4-color border-round-3xl ">
    <form [formGroup]="categoryForm">
      <div class="flex flex-column gap-1 mb-4">
        <label for="name" style="color: #1A1D24">name :</label>
        <input id="name" class="w-full h-2rem p-2" type="text" pInputText formControlName="name"/>
        <p *ngIf="categoryForm.get('name')?.dirty && !categoryForm.get('name')?.valid"
           class="text-red-400 text-sm m-1 font-light">
          need to fill name
        </p>
      </div>
      <p-button (onClick)="saveCategory()" [disabled]="!categoryForm.get('name')?.valid" label="Submit"></p-button>
    </form>
  </div>
  <div id="list" class="col-5 h-20rem bg-4-color border-round-3xl">
    <app-basic-grid [configGrid]="configGrid"></app-basic-grid>
  </div>
</section>



