<section class="min-h-screen">
  <section class="col-12 h-5rem bg-1-color  border-round-3xl ">
    <app-type-effect/>
  </section>
  <div class="col-12 p-3   text-3xl text-white-alpha-80">
    <span>new 📌 : </span>
  </div>
  <div class="col-12 flex h-auto flex-wrap">
    <ng-container *ngFor="let card of cards | async">
      <div class="xl:col-6 col-12 ">
        <app-card [config]="card"/>
      </div>
    </ng-container>
  </div>
  <app-slider/>
  <app-category/>
<!--  <div class="relative col-12 flex">-->
<!--    <app-chapter class="col-8"/>-->
<!--    <app-last-activity class="col-4"/>-->
<!--  </div>-->
</section>
