<app-nav-bar [config]="navBarConf"></app-nav-bar>
<app-main-page [config]="configMainPage">
  <div class="wrapper   fadeInDown  ">
    <div id="formContent " class="p-2 col-8">
      <h2 [class]=" formType === 'login' ? 'active' :' inactive underlineHover'" (click)="changeForm('login')"> Log
        In </h2>
      <h2 [class]=" formType === 'register' ? 'active' :' inactive underlineHover'" (click)="changeForm('register')">
        Register </h2>
      <form *ngIf="formType === 'login'" [formGroup]="loginForm" class="flex flex-wrap" (ngSubmit)="onSubmitLogin()"
            autocomplete="on">
        <input type="text" id="username" name="username" formControlName="email" placeholder="Enter your email">
        <input type="password" id="password" name="password" formControlName="password"
               placeholder="Enter your password">
        <button class="button">submit</button>
      </form>
      <form *ngIf="formType === 'register'" [formGroup]="registerForm" class=" flex flex-wrap"
            (ngSubmit)="onSubmitRegister()">
        <input type="text" formControlName="email" placeholder="Enter your email">
        <input type="text" formControlName="firstName" placeholder="Enter your user Name">
        <input type="password" formControlName="password" placeholder="Enter your password">
        <button class="button">submit</button>
      </form>
    </div>
  </div>

</app-main-page>

