/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
  body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.bg-1-color {
  background-color: #222831;
}

.bg-2-color {
  background-color: #1A1D24;
}

.bg-3-color {
  background-color: #F5F5F5;
}

.bg-4-color {
  background-color: #ffffff;
}

.bg-5-color {
  background-color: #474B4F;
}

.text-1-color {
  color: #61892F !important
}

.text-2-color {
  color: #86C232 !important
}
.border-1-color {
  border: #61892F solid 3px
}
.border-2-color {
  border:#F9F9F9 solid 2px
}


/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.disableSelect {
  user-select: none
}

.linkStyle {
  color: var(--blue-500) !important;
}

.text-decoration-none {
  text-decoration: none !important;
}
