<section id="commentPart" class="flex card justify-content-center mt-4 px-2">
  <div class="w-full md:w-2/3 flex flex-col gap-3">
    <span class="p-float-label w-full ">
      <textarea
        style="resize: none"
        pInputTextarea
        id="comment-input"
        rows="3"
        [formControl]="commentControl"
        class="w-full border-round-1xl"
        [autoResize]="false"
      ></textarea>
      <label for="comment-input">Comment</label>
    </span>

    @if (commentControl.invalid && commentControl.touched) {
      <small class="text-red-400">
        Comment is required and must be under 500 characters.
      </small>
    }

    <button
      pButton
      type="button"
      label="Submit Comment"
      [outlined]="true"
      severity="success"
      class="w-max self-end"
      (click)="submit()"
      [disabled]="commentControl.invalid"
    ></button>
  </div>
</section>
