<div class="mt-8">
  @for (comment of comments; track comment.id) {
    <p-fieldset [toggleable]="true" legend="{{ comment.username }} {{ comment.createdDate | date:'short' }}">
      <p class="m-0">

        {{ comment.comment }}
      </p>
    </p-fieldset>
  }
</div>

<section id="commentPart" class="flex card justify-content-center my-5  ">
  <div class="w-full md:w-2/3 flex flex-col gap-3">
    <div style="width: 90%">
    <span class="p-float-label w-full ">
      <textarea
        style="resize: none"
        pInputTextarea
        id="comment-input"
        rows="3"
        [formControl]="commentControl"
        class="w-full border-round-1xl"
        [autoResize]="false"
      ></textarea>
      <label for="comment-input">Comment</label>
    </span>
      @if (commentControl.invalid && commentControl.touched) {
        <small class="text-red-400 absolute">
          Comment is required and must be under 500 characters.
        </small>
      }
    </div>
    <button
      pButton
      type="button"
      label="Submit Comment"
      [outlined]="true"
      severity="success"
      class="w-max  self-end"
      (click)="submit()"
      [disabled]="commentControl.invalid"
    ></button>
  </div>
</section>
